nav {height: 54px; background-color: #fff; border-bottom: 1px solid rgb(219, 219, 219);}
.logo {margin-left: 192px;}
.form-control {background-image: "/images/logo.png"; background-repeat: no-repeat;}